.chartContainer {
  height: 350px;
}

.placeholderContainer {
  height: 350px;
  text-align: center;

  .placeholderContent {
    padding-top: 100px;

    .icon {
      font-size: 40px;
    }

    .text {
      font-size: 25px;
    }

  }

}


