.label {
  margin-top: 5px;
  float: right;
}

.marginBottom {
  margin-bottom: 15px;
}

.inputProps {
  z-index: 0 !important;
}

.error {
  border-color: red;
  color: red;
}

.clearButton {
  float: right;
  width: 40px;
  margin-right: 1px;
  border: 1px solid #EEE;
}