@import './../../../../theme/custom/variables';

.cardContainer {
  height: 340px;

  &.cardDisabled {

    .messageImage {
      color: #777;
    }

  }

  .messageImage {
    padding: 50px 0;

    i {
      font-size: 90px;
    }

    .icon {
      padding: 0 5px;
    }

    .smallIcon {
      font-size: 60px;
    }

    color: $navy;

  }
}



.buttonSend {
  position: absolute;
  bottom: 35px;
  right: 25px;
}
