@import "../../../../theme/variables.scss";

.circle {
  border: 3px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.circleSuccess {
  @extend .circle;
  border-color: $navy;
}

.circleActive {
  @extend .circle;
  border-color: $brand-grey-dark
}

.circleWarning {
  @extend .circle;
  border-color: $brand-warning;
}

.circleBasic {
  @extend .circle;
  border-color: $brand-grey-light
}

.icon {
  padding: 11px;
  font-size:20px;
}

.iconSuccess {
  @extend .icon;
  color: $navy;
}

.iconActive {
  @extend .icon;
  color: $brand-grey-dark;
}

.iconWarning {
  @extend .icon;
  color: $brand-warning;
}

.iconBasic {
  @extend .icon;
  color: $brand-grey-light;
}

.label {
  margin: 10px 0;
}

.labelSuccess {
  @extend .label;
  color: $navy;
}

.labelActive {
  @extend .label;
  color: $brand-grey-dark;
}

.labelWarning {
  @extend .label;
  color: $brand-warning;
}

.labelBasic {
  @extend .label;
  color: $brand-grey-light;
}
