.spinner{
  position:r elative;
  width: 2em;
  height: 2em;
  margin: 2em auto;

  border-radius: 50%;
  border: 5px solid grey;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  box-shadow: 0 0 0 1px rgba(0,0,0,0.05);

  animation: rotate-right 1.2s linear infinite;
}


@keyframes rotate-right {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotate-left {
  0% { transform: rotate(360deg); }
}
