
body {
  color: #676a6c  !important;
  font-family: 'Open Sans', helvetica, arial, sans-serif  !important;
  background-color: #fff !important;
}

span.navy {
  color: #1ab394  !important;
}

p.text-color {
  color: #676a6c  !important;
}

a.navy-link {
  color: #1ab394  !important;
  text-decoration: none  !important;
}

a.navy-link:hover {
  color: #17a185  !important;
}

section p {
  color: #aeaeae  !important;
  font-size: 13px  !important;
}

address {
  font-size: 13px  !important;
}

h1 {
  margin-top: 10px  !important;
  font-size: 30px  !important;
  font-weight: 200  !important;
}

.navy-line {
  width: 60px  !important;
  height: 1px  !important;
  margin: 60px auto 0  !important;
  border-bottom: 2px solid #1ab394  !important;
}

.navy-bg {
  background-color: #1ab394  !important;
  color: #ffffff  !important;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
  position: absolute  !important;
  top: 0  !important;
  right: 0  !important;
  left: 0  !important;
  z-index: 20  !important;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0  !important;
  padding-left: 0  !important;
}

.navbar-wrapper .navbar {
  padding-right: 15px  !important;
  padding-left: 15px  !important;
}

.navbar-default.navbar-scroll {
  background-color: #fff  !important;
  border-color: #fff  !important;
  padding: 15px 0  !important;
}

.navbar-default {
  background-color: transparent    !important;
  border-color: transparent  !important;
  transition: all 0.3s ease-in-out 0s  !important;
}

.navbar-default .nav li a {
  color: #fff  !important;
  font-family: 'Open Sans', helvetica, arial, sans-serif  !important;
  font-weight: 700  !important;
  letter-spacing: 1px  !important;
  text-transform: uppercase  !important;
}

.navbar-nav > li > a {
  padding-top: 25px  !important;
  border-top: 6px solid transparent  !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent    !important;
  color: #fff  !important;
  border-top: 6px solid #1ab394  !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #1ab394  !important;
}

.navbar-default .navbar-nav > .active > a:focus {
  background: transparent    !important;
  color: #fff  !important;
}

.navbar-default.navbar-scroll .navbar-nav > .active > a:focus {
  background: transparent    !important;
  color: inherit  !important;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background: #17a185  !important;
  color: #fff  !important;
}

.navbar-default .navbar-brand {
  color: #fff  !important;
  height: auto  !important;
  display: block  !important;
  font-size: 14px  !important;
  background: #1ab394  !important;
  padding: 15px 20px 15px 20px  !important;
  border-radius: 0 0px 5px 5px  !important;
  font-weight: 700  !important;
  transition: all 0.3s ease-in-out 0s  !important;
}

.navbar-scroll.navbar-default .nav li a {
  color: #676a6c  !important;
}

.navbar-scroll.navbar-default .nav li a:hover {
  color: #1ab394  !important;
}

.navbar-wrapper .navbar.navbar-scroll {
  padding-top: 0  !important;
  padding-bottom: 5px  !important;
  border-bottom: 1px solid #e7eaec  !important;
  border-radius: 0  !important;
}

.nav > li > a {
  padding: 25px 10px 15px 10px  !important;
}

.navbar-scroll .navbar-nav > li > a {
  padding: 20px 10px  !important;
}

.navbar.navbar-scroll .navbar-brand {
  margin-top: 15px  !important;
  border-radius: 5px  !important;
  font-size: 12px  !important;
  padding: 10px  !important;
  height: auto  !important;
}

/* BACKGROUNDS SLIDER
-------------------------------------------------- */
.header-back {
  height: 470px  !important;
  width: 100%  !important;
}

.header-back.one {
  background: url('./header_one.jpg') 50% 0 no-repeat  !important;
}

.header-back.two {
  background: url('./header_two.jpg') 50% 0 no-repeat  !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 470px  !important;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10  !important;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 470px  !important;
  background-color: #777  !important;
}

.carousel-inner > .item > img {
  position: absolute  !important;
  top: 0  !important;
  left: 0  !important;
  min-width: 100%  !important;
  height: 470px  !important;
}

.carousel-fade .carousel-inner .item {
  opacity: 0  !important;
  -webkit-transition-property: opacity  !important;
  transition-property: opacity  !important;
}

.carousel-fade .carousel-inner .active {
  opacity: 1  !important;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0  !important;
  opacity: 0  !important;
  z-index: 1  !important;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1  !important;
}

.carousel-fade .carousel-control {
  z-index: 2  !important;
}

.carousel-control.left,
.carousel-control.right {
  background: none  !important;
}

.carousel-control {
  width: 6%  !important;
}

.carousel-inner .container {
  position: relative  !important;
}

.carousel-inner {
  overflow: visible  !important;
}

.carousel-caption {
  position: absolute  !important;
  top: 100px  !important;
  left: 0  !important;
  bottom: auto  !important;
  right: auto  !important;
  text-align: left  !important;
}

.carousel-caption {
  position: absolute  !important;
  top: 100px  !important;
  left: 0  !important;
  bottom: auto  !important;
  right: auto  !important;
  text-align: left  !important;
}

.carousel-caption.blank {
  top: 140px  !important;
}

.carousel-image {
  position: absolute  !important;
  right: 10px  !important;
  top: 150px  !important;
}

.carousel-indicators {
  padding-right: 60px  !important;
}

.carousel-caption h1 {
  font-weight: 700  !important;
  font-size: 38px  !important;
  text-transform: uppercase  !important;
  text-shadow: none  !important;
  letter-spacing: -1.5px  !important;
}

.carousel-caption p {
  font-weight: 700  !important;
  text-transform: uppercase  !important;
  text-shadow: none  !important;
}

.caption-link {
  color: #fff  !important;
  margin-left: 10px  !important;
  text-transform: capitalize  !important;
  font-weight: 400  !important;
}

.caption-link:hover {
  text-decoration: none  !important;
  color: inherit  !important;
}

/* Sections
------------------------- */
.services {
  padding-top: 60px  !important;
}

.services h2 {
  font-size: 20px  !important;
  letter-spacing: -1px  !important;
  font-weight: 600  !important;
  text-transform: uppercase  !important;
}

.features-block {
  margin-top: 40px  !important;
}

.features-text {
  margin-top: 40px  !important;
}

.features small {
  color: #1ab394  !important;
}

.features h2 {
  font-size: 18px  !important;
  margin-top: 5px  !important;
}

.features-text-alone {
  margin: 40px 0  !important;
}

.features-text-alone h1 {
  font-weight: 200  !important;
}

.features-icon {
  color: #1ab394  !important;
  font-size: 40px  !important;
}

.navy-section {
  margin-top: 60px  !important;
  background: #1ab394  !important;
  color: #fff  !important;
  padding: 20px 0  !important;
}

.gray-section {
  background: #f4f4f4  !important;
  margin-top: 60px  !important;
}

.team-member {
  text-align: center  !important;
}

.team-member img {
  margin: auto  !important;
}

.social-icon a {
  background: #1ab394  !important;
  color: #fff  !important;
  padding: 4px 8px  !important;
  height: 28px  !important;
  width: 28px  !important;
  display: block  !important;
  border-radius: 50px  !important;
}

.social-icon a:hover {
  background: #17a185  !important;
}

.img-small {
  height: 88px  !important;
  width: 88px  !important;
}

.pricing-plan {
  margin: 20px 30px 0 30px  !important;
  border-radius: 4px  !important;
}

.pricing-plan.selected {
  transform: scale(1.1)  !important;
  background: #f4f4f4  !important;
}

.pricing-plan li {
  padding: 10px 16px  !important;
  border-top: 1px solid #e7eaec  !important;
  text-align: center  !important;
  color: #aeaeae  !important;
}

.pricing-plan .pricing-price span {
  font-weight: 700  !important;
  color: #1ab394  !important;
}

li.pricing-desc {
  font-size: 13px  !important;
  border-top: none  !important;
  padding: 20px 16px  !important;
}

li.pricing-title {
  background: #1ab394  !important;
  color: #fff  !important;
  padding: 10px  !important;
  border-radius: 4px 4px 0 0  !important;
  font-size: 22px  !important;
  font-weight: 600  !important;
}

.testimonials {
  padding-top: 80px  !important;
  padding-bottom: 90px  !important;
  background-color: #1ab394  !important;
  background-image: url('./avatar_all.png')  !important;
}

.big-icon {
  font-size: 56px  !important;
}

.features .big-icon {
  color: #1ab394  !important;
}

.contact {
  background-image: url('./word_map.png')  !important;
  background-position: 50% 50%  !important;
  background-repeat: no-repeat  !important;
  margin-top: 60px  !important;
}

/* Buttons - only primary custom button
------------------------- */
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff  !important;
}

.btn-primary {
  background-color: #1ab394  !important;
  border-color: #1ab394  !important;
  color: #FFFFFF  !important;
  font-size: 14px  !important;
  padding: 10px 20px  !important;
  font-weight: 600  !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #18a689  !important;
  border-color: #18a689  !important;
  color: #FFFFFF  !important;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none  !important;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #1dc5a3  !important;
  border-color: #1dc5a3  !important;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px  !important;
  }

  .navbar-wrapper .container {
    padding-right: 15px  !important;
    padding-left: 15px  !important;
  }

  .navbar-wrapper .navbar {
    padding-right: 0  !important;
    padding-left: 0  !important;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px  !important;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px  !important;
    font-size: 14px  !important;
    line-height: 1.4  !important;
  }

  .featurette-heading {
    font-size: 50px  !important;
  }
}

@media (max-width: 992px) {
  .carousel-image {
    display: none  !important;
  }
}

@media (max-width: 768px) {
  .carousel-caption,
  .carousel-caption.blank {
    left: 5%  !important;
    top: 80px  !important;
  }

  .carousel-caption h1 {
    font-size: 28px  !important;
  }

  .navbar.navbar-scroll .navbar-brand {
    margin-top: 6px  !important;
  }

  .navbar-default {
    background-color: #fff  !important;
    border-color: #fff  !important;
    padding: 15px 0  !important;
  }

  .navbar-default .navbar-nav > .active > a:focus {
    background: transparent  !important;
    color: inherit  !important;
  }

  .navbar-default .nav li a {
    color: #676a6c  !important;
  }

  .navbar-default .nav li a:hover {
    color: #1ab394  !important;
  }

  .navbar-wrapper .navbar {
    padding-top: 0  !important;
    padding-bottom: 5px  !important;
    border-bottom: 1px solid #e7eaec  !important;
    border-radius: 0  !important;
  }

  .nav > li > a {
    padding: 25px 10px 15px 10px  !important;
  }

  .navbar-nav > li > a {
    padding: 20px 10px  !important;
  }

  .navbar .navbar-brand {
    margin-top: 6px  !important;
    border-radius: 5px  !important;
    font-size: 12px  !important;
    padding: 10px  !important;
    height: auto  !important;
  }

  .navbar-wrapper .navbar {
    padding-left: 15px  !important;
    padding-right: 5px  !important;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
    color: inherit  !important;
  }

  .carousel-control {
    display: none  !important;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px  !important;
  }
}

/* MARGINS & PADDINGS
-------------------------------------------------- */
.p-xxs {
  padding: 5px  !important;
}

.p-xs {
  padding: 10px  !important;
}

.p-sm {
  padding: 15px  !important;
}

.p-m {
  padding: 20px  !important;
}

.p-md {
  padding: 25px  !important;
}

.p-lg {
  padding: 30px  !important;
}

.p-xl {
  padding: 40px  !important;
}

.m-xxs {
  margin: 2px 4px  !important;
}

.m-xs {
  margin: 5px  !important;
}

.m-sm {
  margin: 10px  !important;
}

.m {
  margin: 15px  !important;
}

.m-md {
  margin: 20px  !important;
}

.m-lg {
  margin: 30px  !important;
}

.m-xl {
  margin: 50px  !important;
}

.m-n {
  margin: 0    !important;
}

.m-l-none {
  margin-left: 0  !important;
}

.m-l-xs {
  margin-left: 5px  !important;
}

.m-l-sm {
  margin-left: 10px  !important;
}

.m-l {
  margin-left: 15px  !important;
}

.m-l-md {
  margin-left: 20px  !important;
}

.m-l-lg {
  margin-left: 30px  !important;
}

.m-l-xl {
  margin-left: 40px  !important;
}

.m-l-n-xxs {
  margin-left: -1px  !important;
}

.m-l-n-xs {
  margin-left: -5px  !important;
}

.m-l-n-sm {
  margin-left: -10px  !important;
}

.m-l-n {
  margin-left: -15px  !important;
}

.m-l-n-md {
  margin-left: -20px  !important;
}

.m-l-n-lg {
  margin-left: -30px  !important;
}

.m-l-n-xl {
  margin-left: -40px  !important;
}

.m-t-none {
  margin-top: 0  !important;
}

.m-t-xxs {
  margin-top: 1px  !important;
}

.m-t-xs {
  margin-top: 5px  !important;
}

.m-t-sm {
  margin-top: 10px  !important;
}

.m-t {
  margin-top: 15px  !important;
}

.m-t-md {
  margin-top: 20px  !important;
}

.m-t-lg {
  margin-top: 30px  !important;
}

.m-t-xl {
  margin-top: 40px  !important;
}

.m-t-n-xxs {
  margin-top: -1px  !important;
}

.m-t-n-xs {
  margin-top: -5px  !important;
}

.m-t-n-sm {
  margin-top: -10px  !important;
}

.m-t-n {
  margin-top: -15px  !important;
}

.m-t-n-md {
  margin-top: -20px  !important;
}

.m-t-n-lg {
  margin-top: -30px  !important;
}

.m-t-n-xl {
  margin-top: -40px  !important;
}

.m-r-none {
  margin-right: 0  !important;
}

.m-r-xxs {
  margin-right: 1px  !important;
}

.m-r-xs {
  margin-right: 5px  !important;
}

.m-r-sm {
  margin-right: 10px  !important;
}

.m-r {
  margin-right: 15px  !important;
}

.m-r-md {
  margin-right: 20px  !important;
}

.m-r-lg {
  margin-right: 30px  !important;
}

.m-r-xl {
  margin-right: 40px  !important;
}

.m-r-n-xxs {
  margin-right: -1px  !important;
}

.m-r-n-xs {
  margin-right: -5px  !important;
}

.m-r-n-sm {
  margin-right: -10px  !important;
}

.m-r-n {
  margin-right: -15px  !important;
}

.m-r-n-md {
  margin-right: -20px  !important;
}

.m-r-n-lg {
  margin-right: -30px  !important;
}

.m-r-n-xl {
  margin-right: -40px  !important;
}

.m-b-none {
  margin-bottom: 0  !important;
}

.m-b-xxs {
  margin-bottom: 1px  !important;
}

.m-b-xs {
  margin-bottom: 5px  !important;
}

.m-b-sm {
  margin-bottom: 10px  !important;
}

.m-b {
  margin-bottom: 15px  !important;
}

.m-b-md {
  margin-bottom: 20px  !important;
}

.m-b-lg {
  margin-bottom: 30px  !important;
}

.m-b-xl {
  margin-bottom: 40px  !important;
}

.m-b-n-xxs {
  margin-bottom: -1px  !important;
}

.m-b-n-xs {
  margin-bottom: -5px  !important;
}

.m-b-n-sm {
  margin-bottom: -10px  !important;
}

.m-b-n {
  margin-bottom: -15px  !important;
}

.m-b-n-md {
  margin-bottom: -20px  !important;
}

.m-b-n-lg {
  margin-bottom: -30px  !important;
}

.m-b-n-xl {
  margin-bottom: -40px  !important;
}

.space-15 {
  margin: 15px 0  !important;
}

.space-20 {
  margin: 20px 0  !important;
}

.space-25 {
  margin: 25px 0  !important;
}

.space-30 {
  margin: 30px 0  !important;
}

/* PACE PLUGIN
-------------------------------------------------- */
.pace .pace-progress {
  background: #fff  !important;
  position: fixed  !important;
  z-index: 2000  !important;
  top: 0  !important;
  left: 0  !important;
  height: 2px  !important;
  -webkit-transition: width 1s  !important;
  -moz-transition: width 1s  !important;
  -o-transition: width 1s  !important;
  transition: width 1s  !important;
}

.pace-inactive {
  display: none  !important;
}

section.timeline {
  padding-bottom: 30px  !important;
}

section.comments {
  padding-bottom: 80px  !important;
}

.comments-avatar {
  margin-top: 25px  !important;
  margin-left: 22px  !important;
}

.comments-avatar .commens-name {
  font-weight: 600  !important;
  font-size: 14px  !important;
}

.comments-avatar img {
  width: 42px  !important;
  height: 42px  !important;
  border-radius: 50%  !important;
  margin-right: 10px  !important;
}

.bubble {
  position: relative  !important;
  height: 120px  !important;
  padding: 20px  !important;
  background: #FFFFFF  !important;
  -webkit-border-radius: 10px  !important;
  -moz-border-radius: 10px  !important;
  border-radius: 10px  !important;
  font-style: italic  !important;
  font-size: 14px  !important;
}

.bubble:after {
  content: ''  !important;
  position: absolute  !important;
  border-style: solid  !important;
  border-width: 15px 14px 0  !important;
  border-color: #FFFFFF transparent  !important;
  display: block  !important;
  width: 0  !important;
  z-index: 1  !important;
  bottom: -15px  !important;
  left: 30px  !important;
}

/* New Timeline style */
.vertical-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%  !important;
  max-width: 1170px  !important;
  margin: 0 auto  !important;
}

.vertical-container::after {
  /* clearfix */
  content: ''  !important;
  display: table  !important;
  clear: both  !important;
}

#vertical-timeline {
  position: relative  !important;
  padding: 0  !important;
  margin-top: 2em  !important;
  margin-bottom: 2em  !important;
}

#vertical-timeline::before {
  content: ''  !important;
  position: absolute  !important;
  top: 0  !important;
  left: 18px  !important;
  height: 100%  !important;
  width: 4px  !important;
  background: #f1f1f1  !important;
}

.vertical-timeline-content .btn {
  float: right  !important;
}

#vertical-timeline.light-timeline:before {
  background: #e7eaec  !important;
}

.dark-timeline .vertical-timeline-content:before {
  border-color: transparent #f5f5f5 transparent transparent  !important;
}

.dark-timeline.center-orientation .vertical-timeline-content:before {
  border-color: transparent transparent transparent #f5f5f5  !important;
}

.dark-timeline .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before,
.dark-timeline.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before {
  border-color: transparent #f5f5f5 transparent transparent  !important;
}

.dark-timeline .vertical-timeline-content,
.dark-timeline.center-orientation .vertical-timeline-content {
  background: #f5f5f5  !important;
}

@media only screen and (min-width: 1170px) {
  #vertical-timeline.center-orientation {
    margin-top: 3em  !important;
    margin-bottom: 3em  !important;
  }

  #vertical-timeline.center-orientation:before {
    left: 50%  !important;
    margin-left: -2px  !important;
  }
}

@media only screen and (max-width: 1170px) {
  .center-orientation.dark-timeline .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent  !important;
  }
}

.vertical-timeline-block {
  position: relative  !important;
  margin: 0em 0  !important;
}

.vertical-timeline-block:after {
  content: ""  !important;
  display: table  !important;
  clear: both  !important;
}

.vertical-timeline-block:first-child {
  margin-top: 0  !important;
}

.vertical-timeline-block:last-child {
  margin-bottom: 0  !important;
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-block {
    margin: 0em 0  !important;
  }

  .center-orientation .vertical-timeline-block:first-child {
    margin-top: 0  !important;
  }

  .center-orientation .vertical-timeline-block:last-child {
    margin-bottom: 0  !important;
  }
}

.vertical-timeline-icon {
  position: absolute  !important;
  top: 0  !important;
  left: 0  !important;
  width: 40px  !important;
  height: 40px  !important;
  border-radius: 50%  !important;
  font-size: 16px  !important;
  border: 3px solid #f1f1f1  !important;
  text-align: center  !important;
}

.vertical-timeline-icon i {
  display: block  !important;
  width: 24px  !important;
  height: 24px  !important;
  position: relative  !important;
  left: 50%  !important;
  top: 50%  !important;
  margin-left: -12px  !important;
  margin-top: -9px  !important;
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-icon {
    width: 50px  !important;
    height: 50px  !important;
    left: 50%  !important;
    margin-left: -25px  !important;
    -webkit-transform: translateZ(0)  !important;
    -webkit-backface-visibility: hidden  !important;
    font-size: 19px  !important;
  }

  .center-orientation .vertical-timeline-icon i {
    margin-left: -12px  !important;
    margin-top: -10px  !important;
  }

  .center-orientation .cssanimations .vertical-timeline-icon.is-hidden {
    visibility: hidden  !important;
  }
}

.vertical-timeline-content {
  position: relative  !important;
  margin-left: 60px  !important;
  background: white  !important;
  border-radius: 0.25em  !important;
  padding: 1em  !important;
}

.vertical-timeline-content:after {
  content: ""  !important;
  display: table  !important;
  clear: both  !important;
}

.vertical-timeline-content h2 {
  font-weight: 400  !important;
  margin-top: 4px  !important;
}

.vertical-timeline-content p {
  margin: 1em 0  !important;
  line-height: 1.6  !important;
}

.vertical-timeline-content .vertical-date {
  float: left  !important;
  font-weight: 500  !important;
}

.vertical-date small {
  color: #1ab394  !important;
  font-weight: 400  !important;
}

.vertical-timeline-content::before {
  content: ''  !important;
  position: absolute  !important;
  top: 16px  !important;
  right: 100%  !important;
  height: 0  !important;
  width: 0  !important;
  border: 7px solid transparent  !important;
  border-right: 7px solid white  !important;
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-content h2 {
    font-size: 18px  !important;
  }

  .vertical-timeline-content p {
    font-size: 13px  !important;
  }
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-content {
    margin-left: 0  !important;
    padding: 1.6em  !important;
    width: 45%  !important;
  }

  .center-orientation .vertical-timeline-content::before {
    top: 24px  !important;
    left: 100%  !important;
    border-color: transparent  !important;
    border-left-color: white  !important;
  }

  .center-orientation .vertical-timeline-content .btn {
    float: left  !important;
  }

  .center-orientation .vertical-timeline-content .vertical-date {
    position: absolute  !important;
    width: 100%  !important;
    left: 122%  !important;
    top: 2px  !important;
    font-size: 14px  !important;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content {
    float: right  !important;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before {
    top: 24px  !important;
    left: auto  !important;
    right: 100%  !important;
    border-color: transparent  !important;
    border-right-color: white  !important;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .btn {
    float: right  !important;
  }

  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .vertical-date {
    left: auto  !important;
    right: 122%  !important;
    text-align: right  !important;
  }

  .center-orientation .cssanimations .vertical-timeline-content.is-hidden {
    visibility: hidden  !important;
  }
}
